#typing-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 3rem;
  height: 1rem;
  color: gray;
  font-weight: bold;
  font-size: small;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

.typing-box {
  display: block;
}

.container {
  margin: 0;
}

.row {
  display: flex;
}

.col1 {
  flex: 1;
  border: 1px solid beige;
}

.col2 {
  flex: 2;
}

#users {
  list-style: none;
  padding: 0;
  margin: 0;
}